USE [master]
GO
/****** Object:  Database [TourOperatorDB]    Script Date: 17.04.2026 13:33:18 ******/
CREATE DATABASE [TourOperatorDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TourOperatorDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TourOperatorDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TourOperatorDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TourOperatorDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TourOperatorDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TourOperatorDB]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 17.04.2026 13:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NULL,
	[PassportData] [nvarchar](50) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Directions]    Script Date: 17.04.2026 13:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directions](
	[DirectionID] [int] IDENTITY(1,1) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DirectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 17.04.2026 13:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Position] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 17.04.2026 13:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[TourID] [int] NOT NULL,
	[FeedbackText] [nvarchar](1000) NULL,
	[Rating] [int] NULL,
	[FeedbackDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HotelBookings]    Script Date: 17.04.2026 13:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelBookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[TourID] [int] NOT NULL,
	[HotelID] [int] NOT NULL,
	[RoomCount] [int] NOT NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 17.04.2026 13:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotels](
	[HotelID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[DirectionID] [int] NOT NULL,
	[StarRating] [int] NULL,
	[ContactPhone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[HotelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnerReports]    Script Date: 17.04.2026 13:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerReports](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[TourID] [int] NOT NULL,
	[PartnerType] [nvarchar](100) NULL,
	[ReportDate] [date] NULL,
	[Comments] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 17.04.2026 13:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[TourID] [int] NOT NULL,
	[TransportType] [nvarchar](50) NULL,
	[DeparturePoint] [nvarchar](200) NULL,
	[ArrivalPoint] [nvarchar](200) NULL,
	[DepartureDateTime] [datetime] NOT NULL,
	[Price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourPrograms]    Script Date: 17.04.2026 13:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourPrograms](
	[ProgramID] [int] IDENTITY(1,1) NOT NULL,
	[TourID] [int] NOT NULL,
	[DayNumber] [int] NOT NULL,
	[ActivityType] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgramID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tours]    Script Date: 17.04.2026 13:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tours](
	[TourID] [int] IDENTITY(1,1) NOT NULL,
	[TourName] [nvarchar](200) NOT NULL,
	[DirectionID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Status] [nvarchar](50) NULL,
	[ResponsiblePersonID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 17.04.2026 13:33:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[VoucherID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[TourID] [int] NOT NULL,
	[SaleDate] [date] NULL,
	[Price] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientID], [LastName], [FirstName], [MiddleName], [PassportData], [Phone], [Email]) VALUES (1, N'Смирнов', N'Олег', N'Викторович', N'4512 123456', N'+79111234567', NULL)
INSERT [dbo].[Clients] ([ClientID], [LastName], [FirstName], [MiddleName], [PassportData], [Phone], [Email]) VALUES (2, N'Кузнецова', N'Мария', N'Игоревна', N'4513 654321', N'+79217654321', NULL)
INSERT [dbo].[Clients] ([ClientID], [LastName], [FirstName], [MiddleName], [PassportData], [Phone], [Email]) VALUES (3, N'Попов', N'Андрей', N'Сергеевич', N'4520 998877', N'+79315556677', NULL)
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Directions] ON 

INSERT [dbo].[Directions] ([DirectionID], [Country], [City], [Description]) VALUES (1, N'Россия', N'Москва', NULL)
INSERT [dbo].[Directions] ([DirectionID], [Country], [City], [Description]) VALUES (2, N'Россия', N'Санкт-Петербург', NULL)
INSERT [dbo].[Directions] ([DirectionID], [Country], [City], [Description]) VALUES (3, N'Турция', N'Анталья', NULL)
SET IDENTITY_INSERT [dbo].[Directions] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Position], [Phone]) VALUES (1, N'Иванов Иван Иванович', N'Менеджер по туризму', NULL)
INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Position], [Phone]) VALUES (2, N'Петрова Анна Сергеевна', N'Старший менеджер', NULL)
INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Position], [Phone]) VALUES (3, N'Сидоров Алексей Владимирович', N'Директор департамента', NULL)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([FeedbackID], [ClientID], [TourID], [FeedbackText], [Rating], [FeedbackDate]) VALUES (1, 1, 1, N'Всё понравилось, организация отличная', 5, CAST(N'2026-04-17' AS Date))
INSERT [dbo].[Feedbacks] ([FeedbackID], [ClientID], [TourID], [FeedbackText], [Rating], [FeedbackDate]) VALUES (2, 2, 3, N'Хороший отель, но трансфер долгий', 4, CAST(N'2026-04-17' AS Date))
INSERT [dbo].[Feedbacks] ([FeedbackID], [ClientID], [TourID], [FeedbackText], [Rating], [FeedbackDate]) VALUES (3, 3, 4, N'Рим великолепен!', 5, CAST(N'2026-04-17' AS Date))
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[HotelBookings] ON 

INSERT [dbo].[HotelBookings] ([BookingID], [TourID], [HotelID], [RoomCount], [CheckInDate], [CheckOutDate]) VALUES (1, 1, 1, 10, CAST(N'2026-03-10' AS Date), CAST(N'2026-03-12' AS Date))
INSERT [dbo].[HotelBookings] ([BookingID], [TourID], [HotelID], [RoomCount], [CheckInDate], [CheckOutDate]) VALUES (2, 2, 2, 8, CAST(N'2026-04-05' AS Date), CAST(N'2026-04-09' AS Date))
INSERT [dbo].[HotelBookings] ([BookingID], [TourID], [HotelID], [RoomCount], [CheckInDate], [CheckOutDate]) VALUES (3, 3, 3, 15, CAST(N'2026-06-01' AS Date), CAST(N'2026-06-08' AS Date))
SET IDENTITY_INSERT [dbo].[HotelBookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Hotels] ON 

INSERT [dbo].[Hotels] ([HotelID], [Name], [DirectionID], [StarRating], [ContactPhone]) VALUES (1, N'Hilton Moscow', 1, 5, NULL)
INSERT [dbo].[Hotels] ([HotelID], [Name], [DirectionID], [StarRating], [ContactPhone]) VALUES (2, N'Radisson Royal', 2, 5, NULL)
INSERT [dbo].[Hotels] ([HotelID], [Name], [DirectionID], [StarRating], [ContactPhone]) VALUES (3, N'Rixos Antalya', 3, 5, NULL)
SET IDENTITY_INSERT [dbo].[Hotels] OFF
GO
SET IDENTITY_INSERT [dbo].[PartnerReports] ON 

INSERT [dbo].[PartnerReports] ([ReportID], [TourID], [PartnerType], [ReportDate], [Comments]) VALUES (1, 1, N'Отель', CAST(N'2026-04-17' AS Date), N'Все брони подтверждены')
INSERT [dbo].[PartnerReports] ([ReportID], [TourID], [PartnerType], [ReportDate], [Comments]) VALUES (2, 3, N'Гид', CAST(N'2026-04-17' AS Date), N'Туристы довольны экскурсиями')
INSERT [dbo].[PartnerReports] ([ReportID], [TourID], [PartnerType], [ReportDate], [Comments]) VALUES (3, 4, N'Транспортная компания', CAST(N'2026-04-17' AS Date), N'Задержек не было')
SET IDENTITY_INSERT [dbo].[PartnerReports] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([TicketID], [TourID], [TransportType], [DeparturePoint], [ArrivalPoint], [DepartureDateTime], [Price]) VALUES (1, 1, N'Поезд', N'Санкт-Петербург', N'Москва', CAST(N'2026-03-10T07:00:00.000' AS DateTime), CAST(3500.00 AS Decimal(10, 2)))
INSERT [dbo].[Tickets] ([TicketID], [TourID], [TransportType], [DeparturePoint], [ArrivalPoint], [DepartureDateTime], [Price]) VALUES (2, 1, N'Поезд', N'Москва', N'Санкт-Петербург', CAST(N'2026-03-12T19:00:00.000' AS DateTime), CAST(3500.00 AS Decimal(10, 2)))
INSERT [dbo].[Tickets] ([TicketID], [TourID], [TransportType], [DeparturePoint], [ArrivalPoint], [DepartureDateTime], [Price]) VALUES (3, 2, N'Автобус', N'Москва', N'Санкт-Петербург', CAST(N'2026-04-05T08:30:00.000' AS DateTime), CAST(2000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[TourPrograms] ON 

INSERT [dbo].[TourPrograms] ([ProgramID], [TourID], [DayNumber], [ActivityType], [Description]) VALUES (1, 1, 1, N'культурная', N'Обзорная экскурсия по Красной площади')
INSERT [dbo].[TourPrograms] ([ProgramID], [TourID], [DayNumber], [ActivityType], [Description]) VALUES (2, 1, 2, N'развлекательная', N'Посещение театра')
INSERT [dbo].[TourPrograms] ([ProgramID], [TourID], [DayNumber], [ActivityType], [Description]) VALUES (3, 2, 1, N'культурная', N'Эрмитаж и Петергоф')
SET IDENTITY_INSERT [dbo].[TourPrograms] OFF
GO
SET IDENTITY_INSERT [dbo].[Tours] ON 

INSERT [dbo].[Tours] ([TourID], [TourName], [DirectionID], [StartDate], [EndDate], [Status], [ResponsiblePersonID]) VALUES (1, N'Выходные в Москве', 1, CAST(N'2026-03-10' AS Date), CAST(N'2026-03-12' AS Date), N'Активен', 1)
INSERT [dbo].[Tours] ([TourID], [TourName], [DirectionID], [StartDate], [EndDate], [Status], [ResponsiblePersonID]) VALUES (2, N'Культурный Петербург', 2, CAST(N'2026-04-05' AS Date), CAST(N'2026-04-09' AS Date), N'В разработке', 2)
INSERT [dbo].[Tours] ([TourID], [TourName], [DirectionID], [StartDate], [EndDate], [Status], [ResponsiblePersonID]) VALUES (3, N'Анталья All Inclusive', 3, CAST(N'2026-06-01' AS Date), CAST(N'2026-06-08' AS Date), N'Активен', 3)
SET IDENTITY_INSERT [dbo].[Tours] OFF
GO
SET IDENTITY_INSERT [dbo].[Vouchers] ON 

INSERT [dbo].[Vouchers] ([VoucherID], [ClientID], [TourID], [SaleDate], [Price]) VALUES (1, 1, 1, CAST(N'2026-02-01' AS Date), CAST(25000.00 AS Decimal(12, 2)))
INSERT [dbo].[Vouchers] ([VoucherID], [ClientID], [TourID], [SaleDate], [Price]) VALUES (2, 2, 3, CAST(N'2026-02-05' AS Date), CAST(65000.00 AS Decimal(12, 2)))
INSERT [dbo].[Vouchers] ([VoucherID], [ClientID], [TourID], [SaleDate], [Price]) VALUES (3, 3, 4, CAST(N'2026-02-10' AS Date), CAST(120000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Vouchers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clients__E8994A8191A37F26]    Script Date: 17.04.2026 13:33:18 ******/
ALTER TABLE [dbo].[Clients] ADD UNIQUE NONCLUSTERED 
(
	[PassportData] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT (getdate()) FOR [FeedbackDate]
GO
ALTER TABLE [dbo].[PartnerReports] ADD  DEFAULT (getdate()) FOR [ReportDate]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ('В разработке') FOR [Status]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
GO
ALTER TABLE [dbo].[HotelBookings]  WITH CHECK ADD FOREIGN KEY([HotelID])
REFERENCES [dbo].[Hotels] ([HotelID])
GO
ALTER TABLE [dbo].[HotelBookings]  WITH CHECK ADD FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
GO
ALTER TABLE [dbo].[Hotels]  WITH CHECK ADD FOREIGN KEY([DirectionID])
REFERENCES [dbo].[Directions] ([DirectionID])
GO
ALTER TABLE [dbo].[PartnerReports]  WITH CHECK ADD FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
GO
ALTER TABLE [dbo].[TourPrograms]  WITH CHECK ADD FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD FOREIGN KEY([DirectionID])
REFERENCES [dbo].[Directions] ([DirectionID])
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD FOREIGN KEY([ResponsiblePersonID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Vouchers]  WITH CHECK ADD FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[Vouchers]  WITH CHECK ADD FOREIGN KEY([TourID])
REFERENCES [dbo].[Tours] ([TourID])
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Hotels]  WITH CHECK ADD CHECK  (([StarRating]>=(1) AND [StarRating]<=(5)))
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD CHECK  (([EndDate]>=[StartDate]))
GO
USE [master]
GO
